@media (min-width: 1370px) {
  :root {
    --header-height: 100px;
  }

  #header {
    padding-inline: 50px;
  }

  #header .header-menu {
    justify-content: space-between;
  }

  #header .header-menu-bar {
    display: none;
  }

  #header .header-menu__main {
    display: block;
  }
  #header .header-menu__social {
    display: flex;
  }

  #header .header-menu__logo {
    padding-block: 5px;
  }

  #header .header-menu__logo,
  #header .header-menu__logo-link,
  #header .header-menu__logo-link img {
    height: 100%;
  }

  #header .header-menu__logo-link {
    display: inline-block;
  }

  #header .header-search {
    display: none;
  }

  #slider {
    display: block;
  }

  #content {
    padding-top: 16px;
  }

  #content > section {
    margin-top: 104px;
  }

  #upcoming .upcoming-info {
    padding: 20px 50px;
  }

  #latest {
    margin-top: 0;
  }

  #news .page-adds {
    margin-top: 100px;
    background-position: left;
    height: 370px;
  }

  #news .page-content {
    padding: 85px 100px;
  }

  #instagram {
    margin-top: 0;
  }

  #popular .radio-player {
    padding-left: 16px;
    padding-right: 30px;
  }

  #popular .radio-music-info {
    padding-top: 0;
    padding-left: 135px;
    padding-right: 30px;
    flex-direction: row;
    align-items: center;
  }

  #popular .radio-music-primary-info {
    padding-top: 0;
  }

  #popular .music-list {
    padding-left: 8px;
  }

  #popular .music-item {
    width: 200px;
  }

  #popular .radio__img {
    width: 120px;
    height: 120px;
  }

  #assets .app-download {
    background-position: center;
    padding-inline: 210px;
    padding-block: 80px;
    height: 350px;
  }

  #assets .app-download__links-btn {
    width: 162px;
  }

  #assets .subscribe {
    width: 570px;
    margin-bottom: 70px;
    margin-top: 120px;
  }

  #footer {
    padding-block: 70px;
  }

  .btn {
    padding: 14px 37px;
  }
}
